.headerDivContainer {
    display: flex;
    width: 100%;
    justify-content: end;
}

.homeCardContainer {
    display: flex !important;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.cardContainer {
    min-width: 280px !important;
    max-width: 280px !important;
    max-height: 300px !important;
    padding: .5rem .4rem;

}

.cardOptionContent {
    display: flex;
    padding: 16px 10px 16px 10px !important;
    border-right: ridge;
    border-bottom: ridge;
    border-radius: 10px;
}

.imgDimension {
    min-width: 95px;
    max-width: 110px;
    min-height: 101px;
    max-height: 110px;
}

.textName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    font-size: 14px;
}

@media (min-width: 600px) {
    .css-1oqqzyl-MuiContainer-root {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}