.headerDivContainer {
    display: flex;
    width: 100%;
    justify-content: end;
}

.homeCardContainer {
    display: flex !important;
    flex-wrap: wrap;
    padding: 1rem 0rem;
}

.cardContainer {
    padding: .5rem .5rem;
}
