.headerDivContainer {
    display: flex;
    width: 100%;
    justify-content: end;
}

.homeCardContainer {
    display: flex !important;
    flex-wrap: wrap;
    padding: 1rem 0rem;
}

.cardContainer {
    padding: .5rem .5rem;
}

.drawerHeaderUserDataAcount {
    display: flex;
    flex-direction: column;
    padding-left: .5rem;
}
.drawerHeaderContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    -webkit-transition: none !important;
    transition:none !important;
}

.userHeaderAccount {
    font-size: 20px;
    font-weight: 700;
    color: rgb(26 41 124);
}

.userHeaderName {
    font-size: 10px;
    padding-left: .2rem;
    color: rgb(26 41 124);
}

.logoutButtonContainer {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
}

.logoutButton {
    font-size: 10px !important;
    font-weight: bold !important;
}

.css-2pabll-MuiDrawer-docked .css-1r9jet7 {
    -webkit-transition: none !important;
    transition: none !important;
}